rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Izinkan setiap pengguna yang sudah login untuk membaca dan menulis
    // file hanya di dalam folder pribadi mereka.
    // Contoh path: /user-files/USER_ID_ANDA/profile-picture.jpg
    match /user-files/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}