.running-text-container {
  background-color: #000;
  color: #ff0;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0;
}

.running-text {
  display: inline-block;
  padding-left: 100%;
  animation: running-text-animation 15s linear infinite;
}

@keyframes running-text-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}